<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AssetPanel</title>
</head>
<body data-zan-design id="AssetPanel" data-role="control" data-layout-mode="1">
  <label id="Crumb" data-kind="Label" class="medium" data-dock="1" data-fh="22"></label>
  <div id="Bar1" data-kind="Panel" class="assets-bar" data-dock="1" data-fh="28" data-gap="6">
    <button id="ImportBtn" data-kind="Button" data-label="Import file" class="primary small" data-dock="3" data-fw="120"></button>
    <button id="ImportDirBtn" data-kind="Button" data-label="Import folder" class="primary small" data-dock="3" data-fw="132"></button>
    <button id="LinkBtn" data-kind="Button" data-label="Link file" class="small" data-dock="3" data-fw="108"></button>
    <button id="UpBtn" data-kind="Button" data-label="Up" class="small" data-dock="3" data-fw="72"></button>
  </div>
  <div id="Bar2" data-kind="Panel" class="assets-bar" data-dock="1" data-fh="28" data-gap="6">
    <input id="FolderIn" data-kind="Input" data-placeholder="new-folder" data-dock="3" data-fw="200" />
    <button id="MkBtn" data-kind="Button" data-label="New folder" class="small" data-dock="3" data-fw="132"></button>
    <button id="PkBtn" data-kind="Button" data-label="Publish" class="small" data-dock="3" data-fw="200"></button>
  </div>
  <div id="Footer" data-kind="Panel" class="assets-footer" data-dock="2" data-fh="32" data-gap="6">
    <button id="CloseBtn" data-kind="Button" data-label="Close" class="primary small" data-dock="4" data-fw="96"></button>
    <label id="Msg" data-kind="Label" class="secondary small" data-dock="5"></label>
  </div>
  <div id="Body" data-kind="Panel" class="assets-body" data-dock="5" data-gap="8">
    <div id="Detail" data-kind="Panel" class="assets-detail" data-dock="4" data-fw="290" data-gap="6" data-x-props="{&quot;layout&quot;:&quot;1&quot;}">
      <label id="MultiLbl" data-kind="Label" class="medium" data-dock="1"></label>
      <label id="TitleLbl" data-kind="Label" class="medium" data-dock="1"></label>
      <label id="MetaLbl" data-kind="Label" class="secondary small" data-dock="1"></label>
      <label id="PathLbl" data-kind="Label" class="hint tiny" data-dock="1"></label>
      <label id="HintLbl" data-kind="Label" class="secondary small" data-dock="1"></label>
      <div id="RenameRow" data-kind="Panel" class="assets-row" data-dock="1" data-fh="26" data-gap="6">
        <button id="RenameBtn" data-kind="Button" data-label="Rename" class="small" data-dock="4" data-fw="96"></button>
        <input id="RenameIn" data-kind="Input" data-placeholder="name" data-dock="5" />
      </div>
      <div id="DelRow" data-kind="Panel" class="assets-row" data-dock="1" data-fh="26">
        <button id="DelBtn" data-kind="Button" data-label="Delete" class="small error" data-dock="3" data-fw="140"></button>
      </div>
      <div id="AnimBox" data-kind="Panel" class="assets-anim" data-dock="1" data-gap="4" data-x-props="{&quot;layout&quot;:&quot;1&quot;}">
        <div id="AnimRule" data-kind="Divider" data-dock="1" data-fh="1"></div>
        <label id="AnimHead" data-kind="Label" class="secondary small" data-dock="1"></label>
        <div id="FpdRow" data-kind="Panel" class="assets-field" data-dock="1" data-fh="24" data-gap="6">
          <label id="FpdName" data-kind="Label" class="hint tiny field-name" data-dock="3" data-fw="92"></label>
          <input id="FpdIn" data-kind="Input" data-placeholder="6" data-dock="5" />
        </div>
        <div id="DirsRow" data-kind="Panel" class="assets-field" data-dock="1" data-fh="24" data-gap="6">
          <label id="DirsName" data-kind="Label" class="hint tiny field-name" data-dock="3" data-fw="92"></label>
          <input id="DirsIn" data-kind="Input" data-placeholder="8" data-dock="5" />
        </div>
        <div id="FpsRow" data-kind="Panel" class="assets-field" data-dock="1" data-fh="24" data-gap="6">
          <label id="FpsName" data-kind="Label" class="hint tiny field-name" data-dock="3" data-fw="92"></label>
          <input id="FpsIn" data-kind="Input" data-placeholder="12" data-dock="5" />
        </div>
        <div id="SizeRow" data-kind="Panel" class="assets-field" data-dock="1" data-fh="24" data-gap="6">
          <label id="SizeName" data-kind="Label" class="hint tiny field-name" data-dock="3" data-fw="92"></label>
          <input id="FrameWIn" data-kind="Input" data-placeholder="0" data-dock="5" />
          <input id="FrameHIn" data-kind="Input" data-placeholder="0" data-dock="5" />
        </div>
        <div id="StartRow" data-kind="Panel" class="assets-field" data-dock="1" data-fh="24" data-gap="6">
          <button id="LoopBtn" data-kind="Button" data-label="loop" class="small" data-dock="3" data-fw="92"></button>
          <input id="StartIn" data-kind="Input" data-placeholder="0" data-dock="5" />
        </div>
        <div id="WriteRow" data-kind="Panel" class="assets-row" data-dock="1" data-fh="26">
          <button id="AnimBtn" data-kind="Button" data-label="Write .anim" class="primary small" data-dock="3" data-fw="132"></button>
        </div>
      </div>
    </div>
    <div id="List" data-kind="ListView" data-of="AssetEntry" data-dock="5"></div>
  </div>
</body>
</html>
