<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DebugPanel</title>
</head>
<body data-zan-design id="DebugPanel" data-role="control" data-layout-mode="1">
  <div id="TabBar" data-kind="Tabs" data-dock="1" data-fh="0"></div>
  <div id="Console" data-kind="ConsoleView" data-dock="5"></div>
  <div id="Vars" data-kind="ListView" data-of="DbgVar" data-dock="5"></div>
  <div id="WatchPane" data-kind="Panel" data-dock="5" data-gap="6" data-x-props="{&quot;style&quot;:&quot;3&quot;,&quot;layout&quot;:&quot;1&quot;}">
    <input id="WatchIn" data-kind="Input" data-dock="1" data-fh="0" />
    <div id="WatchGrid" data-kind="ListView" data-of="DbgVar" data-dock="5"></div>
  </div>
  <div id="Stack" data-kind="ListView" data-of="DbgFrame" data-dock="5"></div>
</body>
</html>
