<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PlanStrip</title>
</head>
<body data-zan-design id="PlanStrip" data-role="control" data-layout-mode="1">
  <div id="Run" data-kind="RunStrip" data-dock="1" data-fh="22"></div>
  <div id="Head" data-kind="Panel" class="plan-head" data-dock="1" data-fh="24" data-gap="6" data-pad="2">
    <button id="ClearBtn" data-kind="Button" class="small" data-dock="4" data-fw="72"></button>
    <button id="TitleBtn" data-kind="Button" class="text small plan-title" data-dock="5"></button>
  </div>
  <div id="FilesHead" data-kind="Panel" class="plan-head" data-dock="1" data-fh="22" data-gap="6" data-pad="2">
    <button id="FilesBtn" data-kind="Button" class="text small plan-title" data-dock="5"></button>
  </div>
  <div id="Files" data-kind="ListView" data-of="string" class="ai-files flat" data-dock="1" data-fh="0"></div>
  <hr id="Rule"  data-dock="2" data-fh="4" />
  <div id="Rows" data-kind="ListView" data-of="AiPlanStep" class="plan flat" data-dock="5"></div>
</body>
</html>
