<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>QuickPrompt</title>
</head>
<body data-zan-design id="QuickPrompt" data-role="control" data-layout-mode="1">
  <div id="Shell" data-kind="Panel" class="quickprompt card" data-dock="5" data-gap="6" data-pad="8">
    <label id="Cap" data-kind="Label" class="small secondary" data-dock="1" data-fh="18"></label>
    <div id="Row1" data-kind="Panel" data-dock="1" data-fh="26" data-gap="6" data-pad="0">
      <button id="Go" data-kind="Button" class="small primary" data-dock="4" data-fw="44"></button>
      <input id="First" data-kind="Input" data-dock="5" />
    </div>
    <div id="Row2" data-kind="Panel" data-dock="1" data-fh="26" data-gap="6" data-pad="0">
      <input id="Second" data-kind="Input" data-dock="5" />
    </div>
  </div>
</body>
</html>
