<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RefListPopup</title>
</head>
<body data-zan-design id="RefListPopup" data-role="control" data-layout-mode="1">
  <div id="Shell" data-kind="Panel" class="reflist" data-x-props="{&quot;style&quot;:&quot;0&quot;}" data-dock="5" data-gap="0" data-pad="0">
    <div id="Bar" data-kind="Panel" class="reflist-head" data-dock="1" data-fh="28" data-gap="6" data-pad="4">
      <button id="CloseBtn" data-kind="Button" class="text tiny" data-dock="4" data-fw="24" data-x-props="{&quot;icon&quot;:&quot;close&quot;}"></button>
      <label id="HeadLbl" data-kind="Label" class="secondary small" data-dock="5"></label>
    </div>
    <div id="Foot" data-kind="Panel" class="reflist-foot" data-dock="2" data-fh="28" data-gap="6" data-pad="4">
      <button id="FoldBtn" data-kind="Button" class="text small" data-dock="4" data-fw="110"></button>
    </div>
    <div id="Tree" data-kind="TreeView" class="reflist" data-dock="5"></div>
  </div>
</body>
</html>
