<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RunStrip</title>
</head>
<body data-zan-design id="RunStrip" class="ide-panel" data-role="control" data-layout-mode="1">
  <div id="Line" data-kind="Panel" class="runstrip ide-panel-fill">
    <div id="Dots" data-kind="Panel" class="runstrip-dots ide-panel-natural"></div>
    <label id="StatusLbl" data-kind="Label" class="small secondary ide-panel-field"></label>
  </div>
  <hr id="Rule" class="runstrip-rule ide-panel-natural" />
</body>
</html>
