<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RunStrip</title>
</head>
<body data-zan-design id="RunStrip" data-role="control" data-layout-mode="1">
  <div id="Rule" data-kind="Divider" data-dock="2" data-fh="3"></div>
  <div id="Line" data-kind="Panel" class="runstrip" data-dock="5" data-gap="6" data-pad="0">
    <div id="Dots" data-kind="Panel" class="runstrip-dots" data-dock="3" data-fw="170" data-gap="3" data-pad="0"></div>
    <label id="StatusLbl" data-kind="Label" class="small secondary" data-dock="5"></label>
  </div>
</body>
</html>
