<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>TeamBoard</title>
</head>
<body data-zan-design id="TeamBoard" class="ide-panel" data-role="control" data-layout-mode="1">
  <div id="Head" data-kind="Panel" class="ide-panel-toolbar">
    <div id="ModeSw" data-kind="Switch" class="small"></div>
    <label id="TeamLbl" data-kind="Label" class="small secondary"></label>
    <div id="Chips" data-kind="Panel" class="ide-panel-field" data-x-props="{&quot;style&quot;:&quot;3&quot;,&quot;layout&quot;:&quot;2&quot;}"></div>
    <button id="ProjBtn" data-kind="Button" class="small text ide-panel-action" data-on-click="teamBackProject"></button>
    <button id="OpenBtn" data-kind="Button" class="small text ide-panel-action" data-on-click="teamToggleOpen"></button>
  </div>
  <div id="Pipeline" data-kind="Steps" class="small ide-panel-natural"></div>
  <div id="Graph" data-kind="GraphView" class="ide-panel-natural"></div>
  <div id="Sizer" data-kind="Panel" class="team-sizer ide-panel-natural" data-x-props="{&quot;style&quot;:&quot;0&quot;}" data-fh="7"></div>
  <label id="Why" data-kind="Label" class="small warning ide-panel-natural"></label>
</body>
</html>
