<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>TeamBoard</title>
</head>
<body data-zan-design id="TeamBoard" data-role="control" data-layout-mode="1">
  <div id="Head" data-kind="Panel" data-dock="1" data-fh="0" data-gap="6" data-x-props="{&quot;style&quot;:&quot;3&quot;,&quot;layout&quot;:&quot;2&quot;}">
    <div id="ModeSw" data-kind="Switch" class="small" data-dock="3" data-fw="34"></div>
    <label id="TeamLbl" data-kind="Label" class="small secondary" data-dock="3" data-fw="42"></label>
    <div id="Chips" data-kind="Panel" data-dock="5" data-gap="4" data-x-props="{&quot;style&quot;:&quot;3&quot;,&quot;layout&quot;:&quot;2&quot;}"></div>
    <button id="ProjBtn" data-kind="Button" class="small text" data-dock="4" data-fw="76" data-on-click="teamBackProject"></button>
    <button id="OpenBtn" data-kind="Button" class="small text" data-dock="4" data-fw="22" data-on-click="teamToggleOpen"></button>
  </div>
  <div id="Pipeline" data-kind="Steps" class="small" data-dock="1" data-fh="0"></div>
  <div id="Graph" data-kind="GraphView" data-dock="1"></div>
  <div id="Sizer" data-kind="Panel" class="team-sizer" data-x-props="{&quot;style&quot;:&quot;0&quot;}" data-dock="1" data-fh="7"></div>
  <label id="Why" data-kind="Label" class="small warning" data-dock="1" data-fh="0"></label>
</body>
</html>
