<div class="card">
  <div class="toolbar">
    <b>定时任务</b>
    <span class="sp"></span>
    {{#if canCreate}}<a class="btn sm primary" href="/admin/system/jobs/form" data-dialog>新增任务</a>{{/if}}
  </div>
  <table class="table" data-table="sort filter" data-quick="/admin/system/jobs/quick">
    <thead><tr><th>任务</th><th style="width:110px">类型</th><th class="num" style="width:110px">间隔</th><th style="width:110px">参数</th><th class="mid" style="width:56px">启用</th><th style="width:220px">最近一次</th><th class="num" style="width:70px">次数</th><th class="ops">{{iOps}}</th></tr></thead>
    <tbody>
      {{#each jobs}}
      <tr>
        <td>{{name}}</td>
        <td class="mono">{{kindText}}</td>
        <td class="num">{{#if canUpdate}}<input class="cell-edit w-sort" type="number" min="5" step="1" data-id="{{id}}" data-quick-field="intervalSec" value="{{intervalSec}}" title="间隔秒数，点击修改">{{else}}{{intervalText}}{{/if}}</td>
        <td>{{paramText}}</td>
        <td class="mid">{{#if canUpdate}}<input type="checkbox" data-id="{{id}}" data-quick-field="enabled" {{enabledChecked}} title="启用/停用">{{else}}<span class="tag {{lastClass}}">{{lastText}}</span>{{/if}}</td>
        <td><span class="tag {{lastClass}}">{{lastText}}</span> {{lastMessage}}</td>
        <td class="num">{{runCount}}</td>
        <td class="ops">
          {{#if canUpdate}}<a href="#" data-post="/admin/system/jobs/run" data-args="id={{id}}">{{iRunOnce}}</a>{{/if}}
          <a href="/admin/system/jobs/logs?id={{id}}" data-load>{{iLogs}}</a>
          {{#if canUpdate}}<a href="/admin/system/jobs/form?id={{id}}" data-dialog>{{iEdit}}</a>{{/if}}
          {{#if canDelete}}<a href="#" data-post="/admin/system/jobs/delete" data-args="id={{id}}" data-confirm="删除任务会一并删除其运行历史，确定吗？">{{iDelete}}</a>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if emptyJobs}}<div class="empty">还没有定时任务</div>{{/if}}
</div>
