<div class="code-preview">
  <div class="subtabs" data-code-tabs>
    <button class="subtab on" type="button" data-code="model">Model</button>
    <button class="subtab" type="button" data-code="controller">后台控制器</button>
    <button class="subtab" type="button" data-code="dao">Dao</button>
    <button class="subtab" type="button" data-code="list">后台列表视图</button>
    <button class="subtab" type="button" data-code="form">后台表单视图</button>
    <button class="subtab" type="button" data-code="frontController">前台控制器</button>
    <button class="subtab" type="button" data-code="frontList">前台列表页</button>
    <button class="subtab" type="button" data-code="frontShow">前台详情页</button>
  </div>
  <pre class="code open" data-code-body="model">{{model}}</pre>
  <pre class="code" data-code-body="controller">{{controller}}</pre>
  <pre class="code" data-code-body="dao">{{dao}}</pre>
  <pre class="code" data-code-body="list">{{list}}</pre>
  <pre class="code" data-code-body="form">{{form}}</pre>
  <pre class="code" data-code-body="frontController">{{frontController}}</pre>
  <pre class="code" data-code-body="frontList">{{frontList}}</pre>
  <pre class="code" data-code-body="frontShow">{{frontShow}}</pre>
</div>
